.card {
  width: $card-width;
  border: 1px solid $border;
  padding: $card-padding;
  display: flex;
  flex-direction: column;

  &__image {
    width: $img-width;
    height: $img-height;
    margin-bottom: $spacing-xl;
    margin-top: $spacing-m;
    margin-left: 3px; // Specific offset
  }

  &__title {
    font-weight: $font-weight-med;
    font-size: $font-size-s;
    line-height: $line-height-l;
    color: $main-ac;
    margin-bottom: $spacing-xs;
  }

  &__code {
    font-size: $font-size-xs;
    line-height: $line-height-s;
    color: $secondary;
    margin-bottom: $spacing-m;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-m;

    &-text {
      font-weight: $font-weight-reg;
      font-size: $font-size-s;
      line-height: $line-height-l;
      color: $secondary;
    }

    &-value {
      font-weight: $font-weight-bold;
      font-size: $font-size-l;
      line-height: $line-height-l;
      text-align: right;
      color: $main-ac;
      text-decoration: none;
      vertical-align: bottom;
      letter-spacing: 1%;
    }
  }

  &__rating {
    width: 166px; // Calculated based on stars
    height: $star-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-l;
  }

  &__reviews {
    font-weight: $font-weight-reg;
    font-size: $font-size-xs;
    line-height: $line-height-s;
    text-align: right;
    color: $main-ac;
    margin-top: 2px;
  }

  &__buy {
    width: 100%;
    height: $spacing-xl;
    border-radius: $border-radius-s;
    background-color: $blue;
    text-decoration: none;

    font-weight: $font-weight-bold;
    font-size: $font-size-m;
    line-height: $line-height-m;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
    }
  }
}