@use './card';
@use './stars';

* {
  box-sizing: border-box;
}

body {
  margin: 0; // Reset browser default margins
  padding: 20px;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
