// Colors
$color-white: #fff;
$color-border: #f3f3f3;
$color-text-main: #060b35;
$color-text-secondary: #616070;
$color-accent: #00acdc;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;

// Fonts
$font-main: Roboto, sans-serif;
$font-accent: Manrope, sans-serif;